@mixin nas() {
    font-family: nasalization, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin zeit() {
    font-family: zeitung, sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin center() {
    margin-left: auto;
    margin-right: auto;
}