@import "./mixins.scss";

html, body {
    overflow-y: auto;
}

.body {
    overflow: scroll;
    overflow-x: hidden;
    h1 {
        @include nas();
        @include center();
        font-size: 64px;
        width: fit-content;
        line-height: 64px;
        margin-top: 10px;
        margin-bottom: 40px;
        color: white;
    }

    .project {
        height: fit-content;
        width: fit-content;
        width: 100%;
        display: flex;
        @include center();
        img {
            flex: 1;
            height: 250px;
            float: right;
        }
        p {
            flex: 2;
            @include zeit();
            text-align: center;
            color: white;
            overflow-wrap: break-word;
            float: right;
            font-size: 48px;
            transform: translateY(-36px);
        }
    }
}

@media screen and (max-width: 950px) {
    .project {
        flex-direction: column;
        
        img {
            margin-top: -50px;
            margin-bottom: 50px;
            width: 100vw;
        }
        
        // p {
        //     width: 50vw;
        // }
    }
}

@media screen and (min-width: 951px) {
    .project {
        margin-bottom: 50px;

        img {
            width: 50vw;
        }
        p {
            width: 50vw;
        }
    }
}